{% extends 'base.html' %}
{% block content %}
<section class="sect-back section">
    <div class="container">
        <h2 class="section-hh">Our Team</h2>
        <ul class="list list-pad">
            <a href="https://github.com/UstymenkoOB" style="text-decoration: none;">
                <li class="li-back item">
                    <img class="img-foto" src="{{ url_for('static', path='foto5.jpg') }}" alt="Woman" width="211" height="208">
                    <h3 class="section-h">Oksana Ustymenko</h3>
                    <p class="section-p">Team Lead</p>
                </li>
            </a>
            <a href="https://github.com/GhosteLLoS" style="text-decoration: none;">
                <li class="li-back item">
                    <img class="img-foto" src="{{ url_for('static', path='foto3.jpg') }}" alt="Man" width="211" height="208">
                    <h3 class="section-h">Oleksii Medvetskyi</h3>
                    <p class="section-p">Scrum Master</p>
                </li>
            </a>
            <a href="https://github.com/OlegDovhyi" style="text-decoration: none;">
                <li class="li-back item">
                    <img class="img-foto" src="{{ url_for('static', path='foto1.jpg') }}" alt="Man" width="211" height="208">
                    <h3 class="section-h">Oleg Dovhyi</h3>
                    <p class="section-p">Developer</p>
                </li>
            </a>
            <a href="https://github.com/Nevskiy911" style="text-decoration: none;">
                <li class="li-back item">
                    <img class="img-foto" src="{{ url_for('static', path='foto2.jpg') }}" alt="Man" width="211" height="208">
                    <h3 class="section-h">Oleksandr Malieiev</h3>
                    <p class="section-p">Developer</p>
                </li>
            </a>
            <a href="https://github.com/CadejoBlanko" style="text-decoration: none;">
                <li class="li-back item">
                    <img class="img-foto" src="{{ url_for('static', path='foto4.jpg') }}" alt="Man" width="211" height="208">
                    <h3 class="section-h">Oleksandr Martyniuk</h3>
                    <p class="section-p">Developer</p>
                </li>
            </a>
        </ul>
    </div>
</section>
{% endblock %}