{% extends 'base.html' %}
{% block content %}
    <section class="head-sect">
        <div class="container">
            <h1 class="head-h">Image recognition using AI</h1>
            <button class="head-but button" type="button" onclick="redirectToRecognition()">Start</button>
            <script>
                function redirectToRecognition() {
                    window.location.href = "{{ url_for('Recognition') }}";
                }
            </script>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 hidden class="section-hh"> text </h2>
            <ul class="list">
                <li class="item">
                    <h3 class="section-h">Innovation</h3>
                    <p class="section-pp">Utilizing advanced image recognition technologies.</p>
                </li>
                <li class="item">
                    <h3 class="section-h">Convenience</h3>
                    <p class="section-pp">Intuitively understandable and user-friendly interface.</p>
                </li>
                <li class="item">
                    <h3 class="section-h">Security</h3>
                    <p class="section-pp">High-level protection and confidentiality of personal photos.</p>
                </li>
                <li class="item">
                    <h3 class="section-h">Scalability</h3>
                    <p class="section-pp">Efficiently handling various volumes and types of photographs.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="section_doing">
        <div class="container">
            <h2 class="section-hh">What our application does</h2>
            <ul class="list">
                <li class="item"><img class="img-teh" src="{{ url_for('static', path='AI.jpg') }}" alt="Cars" width="360" height="300"></li>
                <li class="item"><img class="img-teh" src="{{ url_for('static', path='foto.jpg') }}" alt="Fotos" width="360" height="300">
                </li>
                <li class="item"><img class="img-teh" src="{{ url_for('static', path='comp.jpg') }}" alt="Laptop" width="360"
                        height="300"></li>
            </ul>
        </div>
    </section>
{% endblock %}