{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">

    <div class="upload-container">
        <form action="{{ url_for('api_predict') }}" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="file" class="upload-label">Choose a file:</label>
            <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png" class="upload-input">
            <p id="file-name" class="selected-file">Selected file: None</p>
            <input type="submit" value="Upload" class="upload-button">
        </form>
        

        {% if image_base64 %}
            <img src="data:image/png;base64,{{ image_base64 }}" class="uploaded-image" alt="Uploaded Image">
        {% endif %}

        {% if predicted_label %}
            <p class="predicted-label">Predicted Label: {{ predicted_label }}</p>
        {% endif %}
    </div>

    <script>
        document.getElementById('file').addEventListener('change', function() {
            var fileNameDisplay = document.getElementById('file-name');
            var selectedFile = this.files[0].name;
            fileNameDisplay.textContent = "Selected file: " + selectedFile;
            fileNameDisplay.classList.add("selected-file"); 
        });
    </script>
{% endblock %}
