{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style.css') }}">

<div class="upload-container">
    <form action="{{ url_for('api_predict_image') }}" method="post" enctype="multipart/form-data" class="upload-form"
        id="upload-form">
        <label for="file" class="upload-label">Upload Image:</label>
        <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png" class="upload-input">
        <p id="file-name" class="selected-file">Selected file: None</p>
        <input type="submit" value="Upload" class="upload-button">
    </form>

    <form action="{{ url_for('api_predict_url') }}" method="post" enctype="multipart/form-data"
        class="url-input-form" style="display: flex; align-items: center;">
        <label for="url" class="upload-label">Enter URL:</label>
        <input type="url" name="url" id="image-url" placeholder="Enter Image URL" class="enter-url">
        <input type="submit" value="Load" class="upload-button">
        
    </form>


    {% if image_base64 %}
    <img src="data:image/png;base64,{{ image_base64 }}" class="uploaded-image" alt="Uploaded Image">
    {% endif %}

    {% if predicted_label %}
    <p class="predicted-label">Predicted Label: {{ predicted_label }}</p>
    {% endif %}
    {% if error %}
    <p class="predicted-label">Error: {{ error }}</p>
    {% endif %}
</div>

   <script>
        function showUrlInput() {
            var urlInput = document.getElementById('url-input');
            urlInput.style.display = 'flex';
        }


       document.getElementById('file').addEventListener('change', function() {
            var fileNameDisplay = document.getElementById('file-name');
            var selectedFile = this.files[0].name;
            fileNameDisplay.textContent = "Selected file: " + selectedFile;
            fileNameDisplay.classList.add("selected-file"); 
        });
    </script>
{% endblock %}